:root {
  --primary-brand: #4d5ae5;
  --hover-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text-slate: #434455;
  --text-light-slate: #8e8f99;
  --accent: #e7e9fc;
  --white: #ffffff;
  --light: #f4f4fd;

  --bg-modal-overlay: #2e2f42;
  --bg-hero: #2e2f42;
  --bg-modal: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-slate);
  background-color: var(--white);
}

ol,
ul {
  list-style-type: none;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--hover-state);
  cursor: pointer;
}

a:active {
  color: var(--primary-brand);
}

button {
  border: none;
  color: var(--white);
  background-color: var(--primary-brand);

  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: var(--hover-state);
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  margin: 0;
}

/* header styles */
header .nav-link {
  font-weight: 500;
}

header .address {
  font-style: normal;
}

.address-link {
  color: var(--text-slate);
}

/* footer styles */
footer {
  background-color: var(--dark);
}

footer .footer-text,
footer .footer-logo-span {
  color: var(--light);
}

/*logo styles  */
.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--primary-brand);
}

header .logotype > span {
  color: var(--dark);
}

/* hero section */
section.hero {
  background-color: var(--bg-hero);
}

section.hero > .first-head {
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

section.hero > button {
  margin: 0 auto;
}

/* benefits section */
section.benefits .second-head {
  letter-spacing: 0.02em;
}

/* team section */
section.team {
  background-color: var(--light);
}

section.team li.team-item {
  background-color: var(--white);
}

/* portfolio section */
section.portfolio li.portfolio-item {
  border: 1px solid var(--accent);
}
